{% extends 'base.html.twig' %}

{% block title %}CoffeeShop index{% endblock %}

{% block body %}
    <div class="example-wrapper">
<main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <div class="sm:text-center lg:text-left">
          <h1 class="text-3xl tracking-tight font-extrabold text-black sm:text-5xl md:text-3xl">
            
            <span class="block text-mango xl:inline">Les Coffee-Shop</span>
            
          </h1>
    </div>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Website</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coffee_shop in coffee_shops %}
            <tr>
                <td>{{ coffee_shop.id }}</td>
                <td>{{ coffee_shop.name }}</td>
                <td>{{ coffee_shop.address }}</td>
                <td>{{ coffee_shop.website }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_coffee_shop_show', {'id': coffee_shop.id}) }}">show</a>
                    <a href="{{ path('app_coffee_shop_edit', {'id': coffee_shop.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Il n'y a pas encore de coffee-shop dans la liste</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    
    <a href="{{ path('app_coffee_new') }}">Create new</a>
    {% endif %}
    </div>
{% endblock %}
