{{ form_start(form) }}
<div class="h-screen bg-beige flex justify-center items-center">
    <div style="display: grid; padding: 20px; border-radius: 20px" class ="w-full max-w-xs bg-white flex flex-col py-5 px-8 rounded-lg shadow-lg" action="{{ path('login') }}" method="post">
        <h1 style="font-size: 25px">Créer un nouveau café</h1>
        {{ form_label(form.name, "Son nom", {
            'attr': {'class': 'text-gray-700 font-bold py-2'}
        }) }}
        {{ form_widget(form.name, {
            'attr': {'class': 'text-gray-700 shadow border rounded border-gray-300 focus:outline-none focus:shadow-outline py-1 px-3 mb-3', 'style': 'border-radius: 5px'}
        }) }}
        {{ form_label(form.intensity, "Son intensité", {
            'attr': {'class': 'text-gray-700 font-bold py-2'}
        }) }}
        {{ form_widget(form.intensity, {
            'attr': {'class': 'text-gray-700 shadow border rounded border-gray-300 focus:outline-none focus:shadow-outline py-1 px-3 mb-3', 'style': 'border-radius: 5px'}
        }) }}
        {{ form_label(form.origin, "Son origine", {
            'attr': {'class': 'text-gray-700 font-bold py-2'}
        }) }}
        {{ form_widget(form.origin, {
            'attr': {'class': 'text-gray-700 shadow border rounded border-gray-300 focus:outline-none focus:shadow-outline py-1 px-3 mb-3', 'style': 'border-radius: 5px'}
        }) }}
        {{ form_label(form.seedType, "Son type de grain", {
            'attr': {'class': 'text-gray-700 font-bold py-2'}
        }) }}
        {{ form_widget(form.seedType, {
            'attr': {'class': 'text-gray-700 shadow border rounded border-gray-300 focus:outline-none focus:shadow-outline py-1 px-3 mb-3', 'style': 'border-radius: 5px'}
        }) }}
        {{ form_label(form.coffeeShop, "Son coffee shop", {
            'attr': {'class': 'text-gray-700 font-bold py-2'}
        }) }}
        {{ form_widget(form.coffeeShop, {
            'attr': {'class': 'text-gray-700 shadow border rounded border-gray-300 focus:outline-none focus:shadow-outline py-1 px-3 mb-3', 'style': 'border-radius: 5px'}
        }) }}
        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-mango hover:bg-light-coffee focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dark-coffee">{{ button_label|default('Enregistrer') }}</button>
        <a class="text-black-600 hover:text-orange-500 font-bold" href="{{ path('app_coffee_index') }}">Retour à la liste</a>

    </div>
</div>
{{ form_end(form) }}
