{% extends 'base.html.twig' %}

{% block title %}Coffee index{% endblock %}

{% block body %}
    <h1>Coffee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Intensity</th>
                <th>Origin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coffee in coffees %}
            <tr>
                <td>{{ coffee.id }}</td>
                <td>{{ coffee.name }}</td>
                <td>{{ coffee.intensity }}</td>
                <td>{{ coffee.origin }}</td>
                <td>
                    <a href="{{ path('app_coffee_show', {'id': coffee.id}) }}">show</a>
                    <a href="{{ path('app_coffee_edit', {'id': coffee.id}) }}">edit</a>
                </td>
                <td>
                  <a href="{{ path('app_coffee_favorite', {'id': coffee.id})  }}">add to favorite</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coffee_new') }}">Create new</a>
{% endblock %}
