{% extends 'base.html.twig' %}

{% block title %}Coffee{% endblock %}

{% block body %}
    <h1>Coffee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coffee.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ coffee.name }}</td>
            </tr>
            <tr>
                <th>Intensity</th>
                <td>{{ coffee.intensity }}</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ coffee.origin }}</td>
            </tr>
            <tr>
                <th>Seed</th>
                <td>{{ seedTypes }}</td>
            </tr>
            {# <tr>
                <th>Coffee Shop</th>
                <td>{{ coffee.coffeeShop }}</td>
            </tr> #}
        </tbody>
    </table>

    <a class="text-black-600 hover:text-orange-500 font-bold" href="{{ path('app_coffee_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="text-black-600 hover:text-orange-500 font-bold" href="{{ path('app_coffee_edit', {'id': coffee.id}) }}">Editer</a>
    {% elseif app.user %}
        <a class="text-black-600 hover:text-orange-500 font-bold" href="{{ path('app_coffee_favorite', {'id': coffee.id})  }}">Ajouter aux favoris</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
       {{ include('coffee/_delete_form.html.twig') }}
    {% endif %}
    {# {{ include('coffee/_delete_form.html.twig') }} #}
{% endblock %}
